<form class="row parallax w-50 bg-light mx-auto border border-secondary rounded p-2 m-5" id="cadastrar-materias">
  <div class="mb-3 col-6 my-4 pb-2">
    <input-form etiqueta="Nome:" tipo="text" classes="fs-4 text-white"  mensagemEspacoReservado="Digite seu nome"></input-form>
  </div>
  <div class="mb-3 col-6 my-4">
    <input-form etiqueta="Carga de horas aula:" tipo="number" classes="fs-4 text-white"  mensagemEspacoReservado="Digite quantas horas"></input-form>
  </div>
  <div class="mb-3 col-12 my-4 pb-2">
    <input-form etiqueta="Escola:" tipo="text" classes="fs-4 text-white"  mensagemEspacoReservado="Digite o nome da instituição"></input-form>
  </div>
  <div class="mb-3 col-6 my-4 fs-4 text-white">
    <p>Professor:</p>
    <select class="form-select" aria-label="Default select">
      <option>Escolha um nome..</option>
      <option value="0">Otávio</option>
      <option value="1">Carla</option>
      <option value="2">Leandro</option>
      <option value="3">Cláudia</option>
    </select>
  </div>
  <div class="mb-3 col-6 my-4 fs-4 text-white">
    <p>Matéria é opcional?</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="radio1">
      <label class="form-check-label" for="radio1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="radio2">
      <label class="form-check-label" for="radio2">
        Não
      </label>
    </div>
  </div>

  <button class="btn my-4 botao-cor-padrao text-light" data-bs-toggle="modal" data-bs-target="#modalMaterias">Enviar
    formulário</button>
</form>
<modal resultado="Sucesso!" mensagem="Formulário enviado com sucesso!"></modal>