<div class="modal fade" id="modalCard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ nome }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card row mx-auto my-5" style="width: 100%;">
                    <img style="width: 500px;" [src]="imagem" class="card-img-top my-2"
                        alt="Poster do anime jujutsu no kaisen">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">{{ descricao }}</p>
                        <a href="https://naruto.fandom.com/pt-br/wiki/Naruto_Uzumaki"
                            target="_blank" class="btn btn-primary">Saber
                            mais</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>