<div class="card row mx-auto my-5" style="width: 50rem;">
    <img style="width: 500px;"
        src="https://upload.wikimedia.org/wikipedia/pt/thumb/4/4b/Jujutsu_Kaisen_Cover.png/250px-Jujutsu_Kaisen_Cover.png"
        class="card-img-top my-2" alt="Poster do anime jujutsu no kaisen">
    <div class="card-body">
        <h5 class="card-title">Jujutsu no Kaisen</h5>
        <p class="card-text">Jujutsu Kaisen é um anime sombrio que lida com elementos sobrenaturais como maldições,
            espíritos e feitiçaria. O anime começa com a morte do avô do protagonista, Yuji Itadori. Antes de morrer,
            ele pede que Itadori viva uma vida em que ele possa escolher como morrer sem ter arrependimentos. Itadori
            não possui mais ninguém além de seu avô e é um cara bem solitário. Na escola, ele faz parte do clube de
            ocultismo, apesar de ter mais habilidades ligadas ao atletismo.</p>
        <a href="https://ovicio.com.br/tudo-que-voce-precisa-saber-sobre-jujutsu-kaisen/" target="_blank"
            class="btn btn-primary">Saber
            mais</a>    
    </div>
</div>