<div class="card row mx-auto" style="width: 50rem;">
    <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/4/4b/Jujutsu_Kaisen_Cover.png/250px-Jujutsu_Kaisen_Cover.png"
        class="card-img-top" alt="Poster do anime jujutsu no kaisen">
    <div class="card-body">
        <h5 class="card-title">Jujutsu no Kaisen</h5>
        <p class="card-text">Jujutsu Kaisen (呪じゅ術じゅつ廻かい戦せん? lit. "Batalha de Feiticeiros") é um mangá japonês escrito e
            ilustrado por Gege Akutami, serializado na Weekly Shōnen Jump desde 5 de março de 2018. Os capítulos
            individuais são compilados em volume tankōbon, e publicados pela Shueisha desde julho de 2018. A série é
            licenciada e publicada no Brasil pela editora Panini.</p>
    </div>
</div>