<main class="container">
    <div class="titulo margem-y-pequena altura-padrao">
        <h1 class="text-center" id="home">Seja bem vindo(a) ao meu projeto da semana 8 no Lab365</h1>
    </div>
    <div class="margem-y-grande altura-padrao">
        <form-materias></form-materias>
    </div>
    <div class="margem-y-grande altura-padrao">
        <pesquisar (escreveu)="getInputText($event)"></pesquisar>
    </div>
    <div class="margem-y-grande ">
        <login-form></login-form>
    </div>
</main>