    <div class="d-flex align-items-center justify-content-center titulo fundo margem-y-pequena altura-padrao">
        <h1 class="w-50 text-center  text-white" id="home">Seja bem vindo(a) ao meu projeto da semana 8 no Lab365</h1>
    </div>

    <div class="margem-y-grande altura-padrao">
        <form-materias></form-materias>
    </div>
    <div class="margem-y-grande altura-padrao">
        <pesquisar (escreveu)="getInputText($event)"></pesquisar>
    </div>
    <div class="margem-y-grande ">
        <login-form></login-form>
    </div>