<section class="d-flex my-5" id="pesquisar">
    <div class="row mx-5 my-auto" style="width: 50%;">
        <div class="col-12">
            <img src="https://source.unsplash.com/500x500/?pesquisa" alt="">
        </div>
    </div>
    <form class="row my-auto mx-5 py-5" style="height: 50%; width: 50%;">
        <h1 class="text-center">Faça uma breve pesquisa</h1>
        <div class="mb-3 col-12">
            <input (keyup)="inputHandler($event)" type="text" class="form-control">
        </div>
        <h5 class="form-text">Veja a saída no console.</h5>
    </form>
</section>